/* *, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  } */

  .snapboxer {
    display: flex;
    flex-direction: column;
    /* width: 500px; */
    height: 100vh;
    /* margin: auto; */
    margin-bottom: 10px;
    border: 1px solid rgba(0, 0, 0, 0.274);
  }
  
  .block-snaps {
    margin-bottom: 10px;
  }
  .snaps {
    padding: 15px;
    text-align: center;
    /* width: 100%; */
    background: orange;
    cursor: pointer;
    border-bottom: 1px solid rgba(0, 0, 0, 0.274);
    position: relative;
    outline: none;
    border-radius: 10px;
    margin-right: 10px;
    /* margin-bottom: 30px; */
  }
  .snaps:not(:last-child){
    border-right: 1px solid rgba(0, 0, 0, 0.274);
    
  }
  
  .active-snaps  {
    background: white;
    border-bottom: 1px solid transparent;
  }
  
  .active-snaps::before {
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% + 2px);
    height: 5px;
    background: rgb(223, 95, 10);
  }
  
  
  
  button {
    border: none;
    
  }
 .box-snaps {
    flex-grow : 1;
    border-radius: 10px;
  } 
  .box {
    padding: 20px;
    display: none;
  }
  .active-box {
    display: block;
    padding: 10px;
    background: orange;
    border-radius: 10px;
  }